<div class="container">
  <br>
  <h4 class="mb-3">All valid phrases for search result:</h4>
  <%= @passkey.provider %>
  <br>
  <%= @passkey.target %>
  <br>
  <%= @passkey.key_phrase %>
  <br>
  <%= @passkey.when %>
  <table class="table table-bordered table-hover">
   <thead class="bg-primary">
    <tr>
      <th style = "text-align:center">Valid phrase</th>
      <th style = "text-align:center" colspan="3">Operation</th>
    </tr>
   </thead>
   <tbody>
   <% if @passkey %>
     <% @passkey.phrases.each do |row| %>
     <tr>
       <td><%= row.val_phrase %> </td>
       <td><a class="btn btn-primary btn-block">Copy to clipboard</a></td>
       <td><button class="btn btn-danger btn-block">Delete</button></td>
     </tr>
   <% end %>
  <% end %>
  </tbody>
  </table>
  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2018 Webmil</p>
  </footer>
</div>
